@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<h1>Aboot</h1>

<p>This is where I'd share info about myself. Like how my name is Kaela but not really and I'm from California. San Francisco, really. That's the important part.</p>