@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}


<h1>Projects page</h1>

<p>This is where I would put things I'd worked on. Like dev projects. Or my writing if I made a writing website.</p>